ANNE_IMX576_OFILM=/odm/etc/camera/configeffect/quadra/imx576/
ANNE_IMX576_LITEON=/odm/etc/camera/configeffect/quadra/imx576/
ANNE_S5K3P8ANE_SUNNY=/odm/etc/camera/configeffect/quadra/S5K3P8/
ANNE_IMX371ANE_OFILM=/odm/etc/camera/configeffect/quadra/imx371/
ANNE_OV16885ANE_LITEON=/odm/etc/camera/configeffect/quadra/ov16885/