ANNE_IMX498ANE_FOXCONN=/odm/etc/camera/smartae/imx498/
ANNE_IMX498ANE_SUNNY=/odm/etc/camera/smartae/imx498/
ANNE_IMX498ANE_LITEON=/odm/etc/camera/smartae/imx498/
ANNE_OV16B10ANE_OFILM=/odm/etc/camera/smartae/ov16b10/
ANNE_OV16B10ANE_LITEON=/odm/etc/camera/smartae/ov16b10/
ANNE_IMX576_OFILM=/odm/etc/camera/smartae/imx576/
ANNE_IMX576_LITEON=/odm/etc/camera/smartae/imx576/
ANNE_IMX371ANE_OFILM=/odm/etc/camera/smartae/imx371/
ANNE_S5K3P8ANE_SUNNY=/odm/etc/camera/smartae/s5k3p8/
ANNE_OV16885ANE_LITEON=/odm/etc/camera/smartae/ov16885/
